<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @menu_item.id %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @menu_item.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu_item.description %>
</p>

<p>
  <strong>Stock level:</strong>
  <%= @menu_item.stock_level %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
